* {
  box-sizing: border-box;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body, #app, .full-height {
  height: 100%;
}

.no-MP {
  margin: 0px;
  padding: 0px;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}